@import "tailwindcss";

@theme {
  --color-brand: #3B6064;
  --color-brand-light: #55828B;
  --color-heading: #364958;
  --color-body: #5F6670;
  --color-surface: #FFFFFF;
  --color-background: #F7F9FA;
  --color-accent: #B0A7C2;
  --color-logo: #3D3B3A;
  --color-border: #E5E7EB;
}
:root {
  /* Backgrounds */
  --background: #F7F9FA;
  --surface: #FFFFFF;

  /* Brand */
  --primary: #3B6064;
  --primary-hover: #55828B;

  /* Text */
  --heading: #364958;
  --body: #5F6670;

  /* Accent */
  --accent: #B0A7C2;

  /* Logo */
  --logo: #3D3B3A;

  /* Borders */
  --border: #E5E7EB;

  /* Layout */
  --radius: 1rem; 
}
.test-color {
  color: red;
}
.mobile-button {
  display: none;
}

@media (max-width: 767px) {
  .mobile-button {
    display: block;
  }
}