@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    background: white;
    color: #1f2937;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}
